* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/photo_2023-04-01_14-53-03.jpg") no-repeat;
    background-size: cover;
}

.header {
    font-family:  Helvetica, Arial, sans-serif;
    color: white;
}

.container,
header {
    font-family:  Helvetica, Arial, sans-serif;
    width: 700px;
    margin: 0 auto;
}

h3 {
    padding: 7px 10px;
    font-size: large;
}

article {
    border: dashed 1px;
    background-color: #ffffff;
    margin: 10px auto;
}

code {
    color: #599a9a;
}

#highlight,
#highlight1 {
    font-family:  Helvetica, Arial, sans-serif;
    color: #f9f3f3;
}